body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.languages {
  .dropdown-toggle::after {
    display: none !important;
  }
}


@media (min-width: 1500px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1450px !important;
  }
}


.App-container {
  .header-container{
    .btn-login {
      border-radius: 5px;
      margin-right: 15px;
      padding: 0 15px;
      border: 1px solid #535353;
      height: 40px;
      background-color: rgb(223, 223, 223);
      &:hover{
        background-color: white;
      }
    }

    .btn-signup {
      border-radius: 5px;
      padding: 0 15px;
      background: #454444;
      color: white;
      height: 40px;
      &:hover {
        background: black;
      }
    }
    .navbar{
      padding-top: 20px;
      z-index: 10;
      // opacity: 0.6;
      background-color: rgba(0, 0, 0,0) !important;
       .nav-link{
        &.active{
          color: #00bfff;
        }
       }
    }
  }

  .main-container {
    .app-content {
      height: calc(100vh - 60px);
    }
  }

  .homepage-container {
    .homapage-content {
      width: 50%;
      position: relative;
      padding: 0 100px;
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .homepage-title1 {
        font-size: 45px;
        font-weight: 600;
      }
      .homepage-title2 {
        font-size: 25px;
      }
      .homepage-button {
        button {
          border-radius: 5px;
          background-color: black;
          color: white;
          padding: 10px 20px;
          border: none;
          &:hover {
            background-color: rgb(53, 53, 53);
          }
        }
      }
    }
  }
}

video {
  position: fixed;
  bottom: 0;
  width: 100vw;
}